<nav>
    <div class="logo-name">
        <span class="logo_name">Access Control System</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a routerLink="">
                <i class="uil uil-estate"></i>
                <span class="link-name">Anasayfa</span>
            </a></li>
            <li><a routerLink="erisim-kayitlari">
                <i class="uil uil-database"></i>
                <span class="link-name">Erişim Kayıtları</span>
            </a></li>
            <li><a routerLink="erisim-noktalari">
                <i class="uil uil-lock-open-alt"></i>
                <span class="link-name">Erişim Noktaları</span>
            </a></li>
            <li><a routerLink="kartlar">
                <i class="uil uil-credit-card"></i>
                <span class="link-name">Kartlar</span>
            </a></li>
            <li><a routerLink="istatistikler">
                <i class="uil uil-graph-bar"></i>
                <span class="link-name">İstatistikler</span>
            </a></li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <router-outlet></router-outlet>
</section>